<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <table>
      <tr><th>File name</th></tr>
      <tr *ngFor="let x of names">
        <td (click)="getInfo(x)">{{ x }}</td>
      </tr>
    </table>
    <button (click)="back()" type="button" class="btn btn-primary">Back !</button>
</div>