  <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <table>
        <tr><th>id</th>
           <th>measure1</th>
           <th>measure2</th>
           <th>type</th></tr>
        <tr *ngFor="let x of cells">
          <td (click)="getInfo(x)">{{ x.id }}</td>
          <td (click)="getInfo(x)">{{ x.measure1 }}</td>
          <td (click)="getInfo(x)">{{ x.measure2 }}</td>
          <td (click)="getInfo(x)">{{ x.type }}</td>
        </tr>
      </table>
      <button (click)="clickButton()" type="button" class="btn btn-primary">Click !</button>
    </div>
    